body { 
	background: silver;
	position: relative;
	padding: 0;
}
.wrapper {
	display: table;
	margin: 20px auto;
	font-size: 0;
}
.squere {
	position: relative;
	display: inline-block;
	background: #FFFFC7;
	width: 135px;
	height: 135px;
	box-shadow: inset 1px 1px 1px #000;
}
.d {
	background: green;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 142px;
	height: 13px;
	z-index: 10;
}
.match {
	position: absolute;
	background: url('../img/match2.png');
	top: 100px;
	left: 0px;
	transform: rotate(0deg);
	cursor: pointer;
	z-index: 10;
    width: 142px;
	height: 13px;
}
.right {
	top: 71px;
	left: 71px;
	transform: rotate(90deg);
}
.top {
	top: 0;
	left: 0;
}
.diagonal-left {
	top: 67px;
	left: 0px;
	transform: rotate(135deg);
}
.diagonal-right {
    top: 66px;
    left: 0px;
    transform: rotate(227deg);
}
/*.box {
	background: orange;
	position: absolute;
	top: 0px;
	left: 0;
	width: 30px;
	height: 100px;
}*/
