body { 
	background: silver;
}
.wrapper {
	display: table;
	margin: 20px auto;
	font-size: 0;
}
.squere {
	position: relative;
	display: inline-block;
	background: #FFFFC7;
	width: 143px;
	height: 143px;
	box-shadow: inset 1px 1px 1px #000;
}
.squere div {
	position: absolute;
	background: url('../img/match2.png');
	width: 142px;
	height: 13px;
}
.right {
	top: 71px;
	left: 71px;
	transform: rotate(90deg);
}